.top-footer {
    height: 12.5em;
    background-color: #f67e7e;
    display: flex;
    justify-content: center;
    align-items: center;

    h5 {
        font-size: 1.5em;
        line-height: 1.5em;
        color: #012f34;
        font-weight: 700;
        font-family: "Livvic", sans-serif;
        text-align: center;
        margin-right: 1em;
    }

    .button-footer {
        background-color: #012f34;
        color: #ffffff;
        border: none;
        padding: 0.5em 1em;
        font-size: 1em;
        font-family: "Livvic", sans-serif;
        font-weight: 700;
        cursor: pointer;
        border-radius: 2em;
        transition: background-color 0.3s ease;
    }

    .button-footer:hover {
        color: $white;
        border: 2px solid #012f34;
    }

    div {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 600px) {

    .social-icons-tablet {
        display: none;
    }

    h5 {
        width: 327px;
        height: 64px;
        font-size: 32px;
        line-height: 32px;
        color: #012f34;
        font-weight: 700;
        font-family: "Livvic";
        text-align: center;
    }

    .top-footer {
        display: block;
        height: 12.5em;
    }

    .footer-container {
        // width: 375px;
        // height: 432px;
        // background-color: #002529;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        .top-footer {
            display: block;
            h5 {
                font-size: 1.5em;
                color: #ffffff;
                margin: 24px;
                
            }
        }

        .footer-txt {
            text-align: center;

            h5 {
                font-size: 1.5em;
                color: #ffffff;
                margin: 24px;
                
            }

            p {
                margin: 0px 0 10px;

            }

            .txt-gap {
                gap: 15px;
                text-align: center;
                justify-content: center;
            }
        }
    }

    address {
        opacity: 0.600;
        width: 327px;
        height: 100px;
        font-size: 15px;
        line-height: 25px;
        color: #ffffff;
        font-weight: 600;
        font-family: "Livvic";
        text-align: center;
    }

    .social-icons {
        display: flex;
        gap: 10px;
        justify-content: center;

        img {
            width: 24px;
            height: 20px;
            // background-color: #ffffff;
            border-radius: 50%;
        }

    }

    .bottom-footer-txt {
        opacity: 0.600;
        height: 25px;
        font-size: 15px;
        line-height: 25px;
        color: #ffffff;
        font-weight: 600;
        font-family: "Livvic";
        // text-align: center;
    }
}

@media (min-width: 600px) {
    .social-icons {
        display: none;
    }

    .main-footer {
        display: flex;
        justify-content: space-between;
    }

    .footer-txt {
        display: flex;
        flex-direction: column;
    }

    h5 {
        margin: 24px;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;
        color: #ffffff;
        margin: 24px;
        color: #012f34;
        font-weight: 700;
        font-family: "Livvic";
    }

    .navigation {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
    }

    .main-footer {

        .social-icons-tablet {
            display: flex;
            gap: 10px;
            justify-content: center;

            // img {
            //     width: 24px;
            //     height: 20px;
            //     // background-color: #ffffff;
            //     border-radius: 50%;
            // }

        }
    }

    .loction {
        text-align: end;
    }
}